/* You can add global styles to this file, and also import other style files */
header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

.containerContent {
  margin-left: 100px;
  margin-right: 100px;
}


a.nav-link {
  color: black;
}

.activeMy {
  background-color: gainsboro;
}
